/* Colors */
/* Status colours */
/* Screen sizes */
body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #444;
  -webkit-font-smoothing: antialiased;
  padding: o;
  margin: 0; }

a {
  color: #dd6a58;
  transition: color 0.1s linear; }

a:active {
  outline: none; }

a:active, a:focus, a:hover {
  color: #c13c27; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0 0 0.75em;
  font-weight: bold; }

h1 {
  color: #dd6a58;
  font-size: 2em; }

h2 {
  color: #865931;
  font-size: 1.66667em; }

h3 {
  margin: 0 0 1em;
  font-size: 1.38889em; }

ul, p {
  margin: 0 0 1em; }

.Roadmap-Intro {
  padding: 0 1rem;
  margin: 2em 0; }

.Features {
  margin: 2em 0;
  background: #FFFDF9;
  border-top: 1px solid #F8E7CF; }

.Feature {
  padding: 2em 1rem;
  display: block; }
  .Feature:nth-child(2n) {
    background: white; }

.Feature-Inner {
  width: 100%; }

.Feature-Head {
  margin-bottom: 1em; }

.Feature-Icon {
  width: 60px;
  height: 60px;
  display: block;
  float: left;
  margin: 0 1em 0 0; }

.Feature-Heading {
  line-height: 1em;
  margin-bottom: 0.5em; }

.Feature-Status {
  margin: 0;
  line-height: 1em;
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  align-content: center; }
  .Feature-Status:before {
    content: '';
    border: 1px solid black;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    display: inline-block; }

.status--shipped {
  color: #579e4a; }
  .status--shipped:before {
    background: #d4fea8;
    border-color: #579e4a; }

.status--in-development {
  color: #2683ab; }
  .status--in-development:before {
    background: #cbebfe;
    border-color: #2683ab; }

.status--under-consideration {
  color: #a28b5b; }
  .status--under-consideration:before {
    background: #fff8ae;
    border-color: #a28b5b; }

.Feature-Status, .Feature-Description {
  margin-top: 0.5em; }

.Feature-Detail {
  margin-top: 2em; }
  .Feature-Detail h3 {
    margin: 0 0 0.5em;
    font-size: 1.2em;
    color: #ab5d27; }

.Feature-ResourcesList {
  padding: 0;
  list-style: none; }

.Feature-Champions {
  padding: 0;
  list-style: none; }

.Feature-Champion {
  margin-bottom: 0.25em; }
  .Feature-Champion a {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .Feature-Champion img {
    border-radius: 50%;
    margin-right: 7px; }

@media (min-width: 768px) {
  .Feature {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
  .Feature-Inner {
    margin-left: 1em; }
  .Feature-Icon {
    float: none;
    margin: 0; }
  .Feature-HeadContent, .Feature-Detail {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; }
  .Feature-Description, .Feature-DetailContent {
    width: calc(70% - 60px); }
  .Feature-Status, .Feature-Availability {
    width: 30%; }
  .Feature-Status, .Feature-Description {
    margin-top: 0; } }
